@import "tailwindcss";

.bg-hero {
  background-image: url("/assets/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  margin-top: 15px;
}

.fa-chevron-right {
  color: #149ddd;
  margin-right: 16px;
}
