@import "tailwindcss";

.bg-hero {
  background-image: url("/assets/images/hero-img.png");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* border: 3px solid red; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 15px;
  overflow-x: hidden;
  /* border: 1px solid blue; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  max-width: 100%;
  overflow: hidden;
}

.section-title h2 {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  margin-top: 15px;
}

.fa-chevron-right {
  color: #149ddd;
  margin-right: 16px;
}

@media (width >= 768px) {
  .section-title h2 {
    font-size: 4vw;
  }
}

@media (width > 1024px) {
  .section-title h2 {
    font-size: 40px;
  }
}
